/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#navbarfull{
  background-color: lightsteelblue;
  width:95%;
  height: 40px;
  border-radius: 90px 90px 90px 90px;
  display: block;
  margin-top: -35px;
}

#navbar{
  //background-color: lightsteelblue;


  #{$a-tags} {
    color: white;
    text-decoration: none;
  }
  #{$a-tags-hover} {
    color: lightslategray;
  }
  #sign-up{
    position: relative;

    top: -18px;
    right: 0px;
    top: 35px;
    #{$a-tags} {
      color: black;
      text-decoration: none;
    }
  }

}
//#content{
// height: 100%;
  //width: 50%;
//  background-color: white;
//}
//#sidebarm{
//  float: left;
//  height: 100%;
//  width:5%;
//  background-color: navy;
//}



.glyphicon-search {
  float: right;
  top: -3px;
  right: 91px;
  color: grey;
  margin: 10px;
  z-index: 3;

}
#current-user {
    float: right;
    top: 2px;
    position: relative;
    font-size: medium;

  }
#search{
  float: right;
  top: 7px;
  position: relative;
  z-index: 2;

}
.searchbar input{
  position: relative;
  float: right;
  top: -18px;
  right: 62px;
  border-radius: 90px 90px 90px 90px;
  display: block;
  border-right: black;
  outline : none;
  padding-right: 20px;
  padding-left: 10px;
  z-index: 0;

}
.submit input {
  float: right;
  position: relative;
  display: block;
  top: -41px;
  right: 95px;
  border-radius: 90px 90px 90px 90px;
  border: transparent;
  background-color: transparent;
  z-index: 3;

}